@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body, html, .containerf{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.nav{
    padding: 10px;
}

.colors{
    width: calc(100% / 4);
    height: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000
}

.descricao{
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0,0,0,0.18);
}

@media(max-width: 600px){
    body, html, .containerf{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .colors{
        width: 100vw;
    }
}